*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #000;
}
@font-face {
    font-family: 'Miama';
    src: url('../Fonts/Miama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* shared style */
.df{
    display: flex;
}
.pdr-20{
    padding-right: 20px;
}
.body-title{
    font-size: 3rem;
    font-weight: 900;
    color: #FFF;
    line-height: 120%;
}
.body-descriptions{
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
}
/* shared style */



/* START HEADER STYLES */
.header{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.2), rgba(119, 119, 119, 0.3), rgba(17, 17, 17, 0.2));
}
.brand{
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}
.navbar{
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 57px;
    align-items: center;
}
.nav-items{
    align-items: center;
}
.nav-items i{
    display: none;
    margin-right: 20px;
}
.nav-links{
    list-style: none;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px 4px;
    align-items: center;
}
.nav-links a{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: #FFF;
}
.active{
    background-color: #E6533C;
    border-radius: 39px;
    padding: 8px 20px;
}


.header-content{
    max-width: 1100px;
    margin: 0 auto;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.hero-img img{
    width: 100%;
}
.hero-descriptions{
    max-width: 520px;
}
.hero-descriptions h1{
    font-size: 4.5rem;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 120%;
}
.hero-descriptions p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    margin: 28px 0;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 400;
    color: #FFF;
}
.header-btn{
    gap: 14px;
}
.btn-main{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    padding: 16px 46px;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    cursor: pointer;
    outline: none;
}
.btn-transparent{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    padding: 16px 46px;
    background-color: transparent;
    border-radius: 42px;
    border: 1px solid #FFF;
    cursor: pointer;
    outline: none;
}
.float{
    position: relative;
}
.btn-1-txt h4{
    font-size: 1.5rem;
    font-weight: 900;
    color: #FFF;
}
.btn-1{
    position: absolute;
    margin: 0 auto;
    align-items: center;
    gap: 12px;
    padding: 20px 23px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    max-width: 206px;
    border-radius: 12px;
    top: -200px;
    right: 400px;
}
.btn-1 i{
    font-size: 1.5rem;
}
.btn-1-txt p{
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
.btn-2{
    position: absolute;
    margin: 0 auto;
    align-items: center;
    padding: 20px 23px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    max-width: 206px;
    border-radius: 12px;
    top: -460px;
    right: 80px;
}
.btn-2 h4{
    font-size: 1.5rem;
    font-weight: 900;
    color: #FFF;
}
.btn-2 p{
    font-size: 0.95rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}
/* END HEADER STYLES */

/* START HABBITS SECTION */
.habbits{
    width: 100%;
    max-width: 1044px;
    margin: 0 auto;
    margin-top: 100px;
}
.habbits-content{
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 14px;
    margin-bottom: 58px;
}
.habbits-container{

}
.habbits-card{
    width: 100%;
    max-width: 231px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img{
    width: 180px;
    height: 180px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.card-img img{
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.card-details{
    width: 231px;
}
.card-details h4{
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 6px;
}
.card-details p{
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
/* END HABBITS SECTION */

/* START RUN SECTION */
.run{
    width: 100%;
    max-width: 1060px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #222222;
    border-radius: 18px;
    padding: 30px 32px 30px 54px;

}
.run-content{
    display: flex;
    flex-direction: column;
    max-width: 443px;
    text-align: left;
    justify-content: center;
}
.run-content p{
    margin: 14px 0 34px;
}
.run-content button{
    max-width: 234px;
}
.run-img img{
    width: 100%;
    max-width: 366px;
    max-height: 312px;
    border-radius: 18px;
    object-fit: none;
    object-position: 67% 30%;
}
/* END RUN SECTION */


/* START CALCULATOR */
.calc-title{
    width: 100%;
    max-width: 671px;
    margin: 88px auto;
    flex-direction: column;
    gap: 14px;
}
/* END CALCULATOR */






.hide{
    display: none;
}

footer h1{
    font-size: 5rem;
    color: #E6533C
}


/* SMALL DEVICE RESPONSIVE MEDIA */
@media screen and (max-width: 576px) {
    .navbar{
        margin-left: 15px;
    }
    .nav-links{
        display: none;
    }
    .nav-items i{
        display: block;
    }
    #shape{
        font-size: 6rem;
    }
    .header-content{
        flex-direction: column;
        margin-top: 52px
    }
    .hero-descriptions{
        margin: 0 15px;
    }
    .header-content h1{
        font-size: 2.25rem;
    }
    .header-btn{
        white-space: nowrap;
    }
    .btn-main, .btn-transparent{
        width: 45%;
        margin: 0 auto;
        font-size: 0.8rem;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
    }
    .hero-img img{
        width: 75%;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    .btn-1{
        white-space: nowrap;
        right: 180px;
        width: 40%;
        padding: 15px 10px;
    }
    .btn-1 i{
        font-size: 85%;
    }
    .btn-1-txt h4{
        font-size: 85%;
    }
    .btn-1-txt p{
        font-size: 75%;
    }
    .btn-2{
        white-space: nowrap;
        width: 35%;
        padding: 15px 10px;
        top: -360px;
        right: 20px;
    }
    .btn-2 h4{
        font-size: 85%;
    }
    .btn-2 p{
        font-size: 65%;
    }
    .habbits-content{
        margin: 0 37px 58px;
    }
    .habbits{
        margin-top: 20px;
    }
    .habbits-container{
        flex-direction: column;
        gap: 25px;
    }
    .run{
        width: 87%;
        flex-direction: column;
        padding: 31px 33px 35px;
        margin: 60px 20px;
    }
    .run-content{
        align-items: center;
    }
    .run-content h2{
        font-size: 1.85rem;
    }
    .run-content p{
        font-size: 0.75rem;
    }
    .run-img img{
        width: 100%;
        padding: 0;
        margin: 0;
        object-fit: contain;
    }
    .run-content button {
        width: 100%;
        align-items: center;
        white-space: nowrap ;
        margin: 0 33px 31px;
    }
    .calc-title{
        width: 90%;
        margin: 30px 20px;
    }
}